.image-container {
  background: white;
  padding: var(--space-md);
  border: 1px solid #ddd;
  border-radius: var(--radius-md);
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Important: per a que no es deformin */
  border-radius: var(--radius-md);
}

/* Quan la classe 'featured' estigui activa */
.featured {
  border: 4px solid var(--secondary-color);
  grid-column: span 1; /* Takes 1 by default */
}

.featured img {
  height: 300px; 
}

@media (min-width: 768px) {
  /* Si la pantalla és gran, fem que la destacada ocupi dues columnes */
  .featured {
    grid-column: span 2;
    grid-row: span 2;
  }
}