<div class="image-container" [class.featured]="isFeatured()" role="region" [attr.aria-label]="'Imatge de la galeria: ' + image().alt">
  <img [ngSrc]="image().src" [alt]="image().alt" [priority]="isFeatured()" fill
    class="my-custom-img-class" [attr.aria-describedby]="isFeatured() ? 'featured-desc' : null">

  @if (isFeatured()) {
    <span id="featured-desc" class="sr-only">Aquesta és la imatge destacada de la galeria</span>
  }
</div>

<!-- Class binding: Angular checks whats in isFeatured(), if true, adds ".featured" class to div, if false, removes it. -->
<!-- Since image and isFeatured are Signals, () needed to read values -->