/* 1. RESET & VARIABLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
  --primary-color: #f6e7a5;
  --secondary-color: #7BABED;
  --text-main: #cb0e60;

  --shadow-color-light: #00000033;

  --space-md: 0.625rem;
  --space-lg: 1.25rem;

  --fs-h1: clamp(1.8rem, 5vw, 2.5rem);
  --fs-body: 1rem;
  --radius-md: 1rem;
}

/* 2. BASE STYLES */

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-main);
  line-height: 1.6;
  padding: var(--space-lg);
}

/* 3. GLOBAL h1 */

h1 {
    text-align: center;
    font-size: var(--fs-h1);
    margin-bottom: var(--space-lg);
    font-weight: 900;
    letter-spacing: 0.025em;
    color: var(--accent-color);
    text-shadow: 2px 2px 0px var(--shadow-color-light);
}

/* 4. ACCESSIBILITY */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
